@charset"utf-8";
/*seach_top*/
#seach_top{
	height: 178px;
}
.nav_bar{
	height: 30px;
	background: #f8f8f8;
}
.nav_con{
	height: 30px;
}
.nav_le{
	width: 225px;
	height: 30px;
	position: relative;
	float: left;
}
.nav_le .Gps{
	width: 52px;
	height: 25px;
	float: left;
	padding-top: 5px;
}
.Gps i{
	display: block;
	width: 11px;
	height: 14px;
	margin:0px 5px 0 0 ;
	background: url(../images/nav.png) 0 -38px no-repeat;
	position: absolute;
	left: 0;
}
.Gps .bold{
	display: block;
	width: 36px;
	height: 28px;
	font-size: 12px;
	color: #e62318;
	text-align: 28px;
	font-weight: bold;
	margin-left: 15px;
}
.nav_le .city{
	position: relative;
	width: 42.02px;
	height: 29px;
	float: left;
	padding-top: 1px;
}
.city .city_a{
	display: inline-block;
	font-size: 12px;
	color: #717171;
	margin-left: 8px;
}
.city .mapBig{
	width: 42.02px;
}
.mapBig .city_map{
	width:42.02px ;
	display: none;
}
.mapBig .city_map em{
	width: 13px;
	height: 7px;
	position: absolute;
	background: url(../images/bg.png) no-repeat -46px 0;
	left: -27px;
	top: 22px;
}
.mapBig .container{
	width: 400px;
	height: 328px;
	position: absolute;
	left: -57px;
	top: 28px;
	border: #eaeaea solid 1px;
	padding: 10px 15px;
	display: none;
	background: #fff;
	z-index: 300;
}
.mapBig .container .now_city{
	width: 400px;
	height: 22px;
	border-bottom: #e9e9e9 solid 1px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.container .now_city .now_left{
	width: 166px;
	height: 20px;
	float: left;
}
.container .now_city .now_left .now1{
	width: 166px;
	height: 20px;
	color: #333;
	line-height: 20px;
	font-size:12px ;
}
.container .now_city .now_left .now2{
	font-weight: bold;
}
.container .now_city .now_left .now1_a{
	color: #e62318;
}
.container .now_city .now_rig{
	width: 100px;
	height: 22px;
	border:1px solid #cf000e ;
	float: right;
	font-size: 14px;
	line-height: 20px;
	color: #cf000e;
	text-align: center;
	padding: 0 4px 0 8px;
	position: relative;
}
.container .now_city .now_rig em{
	display: inline-block;
	width: 11px;
	height: 14px;
	background: url(../images/bg.png) no-repeat -22px 0px;
	position: absolute;
	left: 2px;
	top: 3px;
}
.city .container .hot_city{
	width: 400px;
	height: 19px;
}
.city .container .hot_city .tou{
	font-weight: bold;
	margin-left: 2px;
}
.city .container .hot_city a{
	width: 30px;
	height: 19px;
	float: left;
	font-size: 12px;
	color: #333;
	margin-right: 3px;
}
.city .container .search_city{
	width: 400px;
	height: 28px;
	margin-bottom: 10px;
}
.city .container .search_city .city_text{
	width: 114px;
	height: 24px;
	color: #ccc;
	border: #ccc solid 1px;
	border-right: none;
	line-height: 22px;
	padding:0 5px;
	float: left;
}
.city .container .search_city .city_btn{
	width: 46px;
	height: 26px;
	line-height: 22px;
	text-align: center;
	color: #333;
	border: #aaa solid 1px;
	cursor: pointer;
	background: #fff;
	float: left;
}
.city .container .Letter{
	width: 400px;
	height: 28px;
}
.city .container .Letter a{
	float: left;
	width: 17px;
	height: 17px;
	color: #d02e2c;
	line-height: 17px;
	text-align: center;
	font-size:14px ;
}
.city .container .Letter .activ{
	background:#d02e2c ;
	color: #FFFFFF;
}
.city .container .all_city{
	width: 400px;
	height: 180px;
}
.city .container .all_city .all_cit{
	width: 385px;
	height: 180px;
	float: left;
	overflow: hidden;
	position: relative;
}
.container .all_city .all_cit .all_ul{
	width: 385px;
	height: 676px;
	position: absolute;
	left: 0;
	top: 0;
}
.container .all_city .all_cit .all_ul li{
	width: 380px;
	height: 19px;
	padding-bottom: 11px;
	padding-left: 5px;	
}
.container .all_city .all_cit .all_ul li span{
	display: block;
	float: left;
	width: 21px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: url(../images/bg.png) no-repeat -22px -16px;
}
.container .all_city .all_cit .all_ul li a{
	width: 34px;
	height: 19px;
	float: left;
	margin-left: 5px;
	font-size: 12px;
	color: #717171;
}
.city .container .all_city .all_scroll{
	width: 10px;
	height: 180px;
	float: right;
	background: url(../images/bg.png) -11px 0 repeat-y;
	overflow: hidden;
	position: relative;
}
.all_city .all_scroll #scoll{
	display: inline-block;
	width: 10px;
	height: 36px;
	background: url(../images/bg.png) 0 0 no-repeat;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
}
.city a:hover{
	color:#e62318 ;
}
.nav_le .login_zhu{
	width: 116px;
	height: 28px;
	float: left;
	padding-top: 2px;
}
.login_zhu a{
	font-size: 12px;
	color: #717171;
	margin-left: 8px;
}
.login_zhu a:hover{
	color:#e62318 ;
}
.nav_rig{
	width: 642.41px;
	height: 30px;
	float: right;
}
.nav_rig li{
	height: 30px;
	float: left;
}
.nav_rig .my_happly{
	width:77px;
	height: 30px;
	/*border: #eaeaea 1px solid;*/
	padding: 0 5px;
	position: relative;
}
.nav_rig .my_happly .my_show{
	color: #717171;
	font-size: 12px;
	position: relative;
}
.nav_rig .my_happly .my_show .my_txt{
	display: block;
	height: 28px;
	line-height: 28px;
}
 .jian{
	display: block;
	width: 7px;
	height: 4px;
	background: url(../images/nav.png) no-repeat 0 0;
	position: absolute;
	left: 67px;
	top: -16px;
}
.my_happly .my_hid{
	width: 67px;
	height: 132px;
	border: #eaeaea 1px solid;
	border-top: none;
	padding: 3px 10px 6px;
	position: absolute;
	left: -1px;
	top: 29px;
	background: #fff;
	z-index: 10;
}
.my_happly .my_hid a{
	display: block;
	width: 67px;
	height: 22px;
	line-height: 22px;
	color: #717171;
	font-size: 12px;
}
.my_hid a:hover{
	color: #e62318;
}
.nav_rig .shop_car{
	width: 89.4px;
	height: 30px;
	position: relative;
	/*border: #f8f8f8 1px solid;*/
	padding: 0 5px;
}
.shop_car .car_show{
	display: block;
	width: 89.4px;
	height: 28px;
	color: #717171;
	font-size: 12px;
	position: relative;
}
.shop_car .car_show .Car{
	display: block;
	float: left;
	width: 17px;
	height: 14px;
	background: url(../images/nav.png) no-repeat 0 -53px;
	position: absolute;
	left: 7px;
	top: 7px;
}
.shop_car .car_show .shop{
	width: 36.4px;
	height: 30px;
	line-height: 28px;
	float: left;
	padding-left:27px;
}
.shop_car .car_show .jian2{
	top: 13px;
}
.shop_car .car_hid{
	width: 247px;
	height: 109px;
	position: absolute;
	left: -1px;
	top: 29px;
	border: #aeaeae 1px solid;
	border-top:none;
	background: #fff;
	z-index: 10;
}
.shop_car .car_hid .car_txt{
	width: 215px;
	height: 48px;
	padding: 30px 15px;
	line-height: 48px;
	color: #717171;
	font-size: 14px;
	text-align: left;
}
.nav_rig .follow_hap{
	width: 71px;
	height: 30px;
	/*border: #f8f8f8 1px solid;*/
	padding: 0 15px;
	position: relative;
}
.nav_rig .follow_hap .foll_show{
	width: 91px;
	height: 30px;
	color: #717171;
}
.nav_rig .follow_hap .foll_show .show_two{
	display: block;
	width: 12px;
	height: 13px;
	background: url(../images/nav.png) no-repeat 0 -10px;
	position: absolute;
	left: 5px;
	top: 8px;
}
.nav_rig .follow_hap .foll_show .show_txt{
	display: block;
	width: 60px;
	height: 30px;
	font-size: 12px;
	padding: 0 5px;
	line-height: 28px;
}
.nav_rig .follow_hap .foll_show .jian3{
	top: 13px;
	left:85px;
}
.nav_rig .follow_hap .foll_hid{
	width: 132px;
	height: 192px;
	border: #eaeaea 1px solid;
	border-top: none;
	position: absolute;
	left: -1px;
	top: 29px;
	padding: 14px 22px;
	text-align: center;
	background: #fff;
	z-index: 10;
}
.follow_hap .foll_hid .img_foll{
	width: 132px;
	height: 132px;
}
.follow_hap .foll_hid .fol_txt{
	display: block;
	width: 132px;
	height: 30px;
	text-align: center;
	font-size:14px ;
	color: #717171;
}
.help_cen{
	width: 67px;
	height: 30px;
	position: relative;
	padding: 0 5px;
}
.help_cen .help_show{
	width: 65px;
	height: 30px;
	display: block;
	color: #717171;
}
.help_cen .help_show .help_txt{
	display: block;
	width: 58px;
	height: 30px;
	font-size: 12px;
	line-height: 28px;
	margin-left: 10px;
}
.help_txt:hover{
	color: #e62318;
}
.help_cen .help_show .jian4{
	left: 66px;
	top: 13px;
}
.help_cen .help_hid{
	width: 55px;
	position: absolute;
	left: -1px;
	top: 29px;
	border:1px solid #eaeaea ;
	border-top: none;
	padding: 3px 10px 6px;
	font-size: 12px;
	background: #fff;
	z-index: 10;
}
.help_cen .help_hid a{
	color: #717171 !important;
}
.help_hid a:hover{
	color: #e62318;
}
.collection{
	width: 50px;
	height: 30px;
	padding: 0 5px;
}
.collection .coll_txt{
	display: block;
	height: 28px;
	color: #717171;
	line-height: 28px;
	font-size: 12px;
}
.coll_txt:hover{
	color: #E62318;
}
.hot_line{
	width: 202px;
	height: 30px;
	position: relative;
}
.hot_line .hot_tell{
	width: 200px;
	height: 28px;
	margin-left: 10px;
	overflow: hidden;
}
.hot_line .hot_tell .tell_all{
	width: 200px;
	height: 448px;
}
.hot_tell .tell_all .tell{
	width: 200px;
	height: 28px;
}
.tell_all .tell a{
	display: block;
	height: 30px;
	line-height:30px;
	font-size: 12px;
	color: #717171;
}
.tell_all .tell a strong{
	margin-left:5px ;
	font-weight: bold;
	color: #e62318;
	
}
.active{
	border:#eaeaea solid 1px; 
	background: #fff;
}
.active1{
	display: none;
}
#seach_top .seach_con{
	height: 112px;
}
.seach_con .seach_co{
	height: 112px;
}
.seach_co h1{
	float: left;
	width: 176px;
	height: 72px;
	padding: 30px 0 0 0;
	position: relative;
}
.seach_co .form{
	float: left;
	width: 610px;
	height: 42px;
	padding: 30px 0 0 0 ;
	margin-left:100px ;
	position: relative;
}
.seach_co .form .txt{
	width: 542px;
	height: 20px;
	background: #f0f0f0;
	border-radius: 8px;
	border:0 none ;
	font-size: 14px;
	color: #333;
	line-height: 20px;
	padding: 9px 6px;
	margin-bottom: 10px;
}
.seach_co .form .sousuo{
	display: block;
	width: 22px;
	height: 22px;
	background: url(../images/index.png) no-repeat -60px -251px;
	position: absolute;
	left: 521px;
	top: 37px;
}
.sou_bot{
	width: 520.84px;
	height: 19px;
}
.sou_bot a{
	float: left;
	font-size: 12px;
	margin-right: 12px;
	color: #999;
	cursor: pointer;
}
.sou_bot .a1{
	color: #FF6600;
}
.sou_bot a:hover{
	color: #E62318;
}
.two{
	width: 232px;
	height: 108px;
	float: right;
	position: absolute;
	right: 106px;
	top: 98px;
}
.menu{
	height: 36px;
}
.menu .menu_con{
	height: 36px;
}
.menu_con .con_le{
	width: 200px;
	height: 36px;
	float: left;
	position: relative;
	cursor: pointer;
}
.menu_con .con_le h2{
	height: 36px;
	background: #E62318;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
}
.menu_con .con_le .menu_hid{
	display: none;
	width: 200px;
	height: 442px;
	position: absolute;
	z-index: 110;
	background: #000;
	opacity: .8;
	padding: 9px 0 9px;
}

.menu_con .con_le .menu_hid .menu_li{
	width: 200px;
	height: 34px;
	line-height: 34px;
}
.active2{
	background: #fff;
	opacity: .8;
	
}
.active3{
	color: #FFFFFF;
}
 .con_le .menu_hid .menu_li .menu_cut{
 	width: 750px;
 	height: 427px;
 	position: absolute;
 	left: 200px;
 	top: 0;
 	background: #fff;
 	opacity: .95;
 	padding: 9px 30px 25px 10px;
 	display: none;
 }
 .con_le .menu_hid .menu_li .cut_le{
 	width: 544px;
 	height: 431px;
 	float: left;
 }
 .menu_li .cut_le .uls{
 	width: 544px;
 	height: 73px;
 	padding-top: 6px;
 }
 .menu_li .cut_le .uls .sp{
 	display: block;
 	width: 93px;
 	height: 20px;
 	font-size: 13px;
 	font-weight: 700;
 	float: left;
 	line-height: 38px;
 	color: #333;
 }
.menu_li .cut_le .uls .lis{
	width: 433px;
	height: 40px;
	float: left;
	border-bottom: #AFACB1 solid 1px;
	padding-bottom:16px;
	font-size: 12px;
}
 .menu_li .cut_le .uls .lis a{
 	margin-right: 16px;
 	color: #666!important;
 }
.menu_li .cut_ri{
	width: 190px;
	height: 421px;
	float: left;
	padding-left:16px ;
} 
 .menu_li .cut_ri h6{
 	width: 190px;
 	height: 20px;
 	font-size: 14px;
 	padding: 16px 0 12px ;
 	color: #333333;
 	cursor: pointer;
 	font-weight: 600;
 	line-height: 20px;
 }
 .menu_li .cut_ri .tag{
 	width: 190px;
 	height: 88px;
 	margin-bottom: 25px;
 	font-size: 12px;
 }
 .menu_li .cut_ri .tag a{
 	color: #666;
 	margin-right: 2px;
 	display: inline-block;
 	line-height: 22px;
 }
 .menu_li .cut_ri img{
 	display: inline-block;
 	width: 190px;
 	height: 260px;
 }
 
.con_le .menu_hid .menu_li .ico{
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/menu.png) no-repeat -21px ;
	margin: 8px 10px 0 !important;5px
}
.menu_con .con_le .menu_hid .menu_li .a_txt{
	color: #AFACB1;
	font-size: 14px;
	margin-right: 10px;
	float: left;
}



.menu_con .con_rig{
	width: 1000px;
	height: 36px;
	float: left;
}
.con_rig li{
	float: left;
	padding:0 15px;
}
.con_rig li a{
	display: block;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	color: #333;
}
.con_rig li .cut{
	color: #e62318;
}
.con_rig li a:hover{
	color:#E62318;
}