@charset"utf-8";
.list_con,.goods_con,.page_list,.page_pan{
	width: 1190px;
	margin: 0 auto;
}
/*list*/
#lists{
	height: 206px;
	padding-top: 13px;
}
.list_con{
	height: 206px;
}
.list_all{
	width: 1190px;
	height: 206px;
	border:1px solid #e6e6e6 ;
}
.list_all .bathroom{
	width: 1188px;
	height: 56px;
	background: #F5F5F5;
}
.bathroom .bath_p{
	width: 107px;
	line-height: 36px;
	padding-left: 18px;
	color: #888;
	float: left;
}
.bathroom .bath_a{
	color: #E62318;
	font-weight: 700;
	font-size: 14px;
}
.bathroom .bath_list{
	width: 1024px;
	padding: 8px 13px 8px 26px;
	float: left;
	background: #FFFFFF;
	height: 40px;
}
.bathroom .bath_list p{
	display: inline-block;
	vertical-align: top;
	margin-right:20px ;
}
.bathroom .bath_list p a{
	color: #E62318;
	font-size: 14px;
}
.bathroom .bath_list p a strong{
	font-weight: 700;
	color: #555;
}
.brand{
	width: 1188px;
	height: 69px;
	background: #F5F5F5;
	border-top: dotted 1px #e6e6e6;
}
.brand .brand_p{
	width: 107px;
	line-height: 36px;
	padding-left: 18px;
	color: #888;
	float: left;
	font-size: 14px;
}
.brand .brand_lis{
	width: 1024px;
	height: 53px;
	padding: 8px 13px 8px 26px;
	background: #FFFFFF;
	float: left;
}
.brand .brand_lis .brand_all{
	width: 894px;
	height: 53px;
	position: relative;
}
.brand_lis .brand_all .all_brand{
	width: 894px;
	height: 106px;
}
.brand_all .all_brand li{
	width: 102px;
	height: 51px;
	text-align: center;
	position: relative;
	border-bottom:solid 1px #e7e7e7 ;
	border-right: solid 1px #E7E7E7;
	float: left;
}
.brand_cut{
	position: relative;
}
.brand_all .all_brand .brand_a{
	display: block;
	height: 51px;
	text-align: center;
	color: #333333;
}
.brand_all .all_brand .brand_cut .a_ou{
	display: none;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 15px;
	border: solid 2px #E62318;
	text-decoration: none;
	color: #E62318;
	background: #FFFFFF;
	position: absolute;
	left: -1px;
	top: -1px;
}
.all_brand .brand_cut .txt_ou{
	display: inline-block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.cai{
	width: 1188px;
	height: 39px;
	background: #f5f5f5;
	border-top: dotted 1px #E6E6E6;
}
.cai .cai_p{
	width: 107px;
	line-height: 36px;
	padding-left: 18px;
	color: #888888;
	float: left;
	font-size: 14px;
}
.cai .cai_li{
	width: 1063px;
	height: 38px;
}
.cai .cai_li p{
	float: left;
	font-size: 12px;
	color: #1F1F1F;
	margin-right: 10px;
	line-height: 38px;
}
/*商品*/
#all_goods{
	height: 37px;
}
.goods_con{
	height: 37px;
	margin-top: 30px;
}
.good_con{
	width: 1190px;
	height: 25px;
	line-height: 24px;
	padding: 6px 10px 5px;
	border: solid 1px #E6E6E6;
	border-bottom: none;
	background: #f3f3f3;
}
.good_con .page{
	height: 24px;
	line-height: 24px;
	float: right;
}
.good_con .page .pages{
	color: #999999;
	font-size: 12px;
}
.good_con .page .page_a{
	background: url(../images/listicon.png) no-repeat;
	width: 23px;
	height: 21px;
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
	color: #333333;
}
.good_con .page .page_a1{
	background-position: -21px -192px;
	cursor: default;
}
.good_con .page .page_a2{
	background-position: -46px -192px;
}
.good_con .num{
	margin-right: 15px;
	margin-top: 1px;
	float: right;
	color: #999999;
	font-size: 12px;
}
.good_con .num span{
	color: #E62318;
	font-weight: 700;
}
.good_con .attr{
	width: 252px;
	height: 23px;
	float: left;
}
.good_con .attr li{
	float: left;
	height: 23px;
}
.good_con .attr .attr_a{
	height: 21px;
	padding: 0 9px;
	border: 1px solid #E6E6E6;
	border-left: none;
	text-align: center;
	display: block;
	color: #666;
	font-size: 12px;
}
.good_con .attr .first{
	border-left:1px solid #E6E6E6; ;
}
.active5{
	font-weight: 600;
	color: #FFFFFF!important;
	border-color:#E62318 ;
	background: #E62318;
}
/*list 分页*/
#list_page{
	height: 1320px;
	margin-top:13px;
}
.page_list{
	height: 1320px;
}
.page_list .page_li{
	width: 1190px;
	height: 1320px;
}
.page_li .list_li{
	width: 280px;
	height: 330px;
	border: 1px solid #F5F5F5;
	float: left;
	position: relative;
	z-index: 1;
	margin:5px;
}
.page_li .list_lis{
	width: 266px;
	margin: 7px 7px 7px 8px;
	margin-bottom: 0;
	background: #FFFFFF;
	position: absolute;
	z-index: 2;
}
 .page_li .active6{
	height: 330px;
	border: 2px solid #E62318;
	left: -1px;
	top: -1px;
	z-index:100;

	
}
.page_li .list_lis .tu{
	display: block;
	width: 266px;
	height: 177px;
}
.page_li .list_lis .tu img{
	width: 266px;
	height: 177px;
}
.page_li .list_lis .similar{
	width: 266px;
	height: 24px;
	position: absolute;
	top: 153px;
	display: none;
}
.list_lis .similar .similar_s{
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 24px;
	background: #000000;
	opacity: .6;
}
.list_lis .similar .similar_a{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 100;
	font-size: 14px;
	height: 24px;
	color: #FFFFFF;
}
.list_lis .price{
	width: 266px;
	height: 26px;
	padding-left: 2px;
	margin-top: 8px;
	overflow: hidden;
	white-space: normal;
}
.list_lis .price .money{
	color: #E62318;
	font-size: 20px;
	font-weight: 500;
	float: left;
}
.list_lis .price .yuan{
	float: left;
	margin-left: 4px;
	color: #999999;
	margin-top: 7px;
	font-size: 12px;
	text-decoration: line-through;
}
.list_lis .d_name{
	height: 38px;
	line-height: 20px;
	color: #333333;
	display: block;
	overflow: hidden;
	margin-top: 4px;
	font-size: 12px;
}
.list_lis .tage{
	height: 31px;
	border-bottom: 2px;
	color: #999999;
	text-align: center;
}
.list_lis .tage span{
	margin-right:12px ;
	height: 30px;
	padding-bottom: 1px;
	line-height: 30px;
	float: left;
	font-size: 12px;
}
.list_lis .tage span i{
	color: blue;
	font-family: arial;
}
.list_lis .tage span .a_i{
	color:#999;
}
.list_lis .shop_car{
	width: 100%;
	padding-top:6px ;
	text-align: center;
	display: none;
}
.list_lis .shop_car .car_a{
	width: 72px;
	border: 1px solid #dedede;
	font-size: 12px;
	float: left;
	height: 26px;
	display: inline-block;
	background-position: repeat-x;
	color: #666666;
}
.list_lis .shop_car .car_a .i1{
	cursor: pointer;
	background: url(../images/listicon.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	width: 13px;
	height: 14px;
	background-position: -1px -2px;
}
.list_lis .shop_car .car_a span{
	display: inline-block;
	vertical-align: middle;
	line-height: 6px;
}
.list_lis .shop_car .car_a .i2{
	width: 17px;
	background-position: -34px -3px;
	vertical-align: middle;
	line-height: 10px;
}
.list_lis .shop_car .a_car{
	width: 116px;
}
.list_lis .shop_car .car_a .i3{
	width: 16px;
	height: 15px;
	background-position: -72px -1px;
}
.list_lis .shop_car .car_a .sp9{
	color: #E62318;
}
/*页码*/
#page_pan{
	height: 110px;
	margin-top: 80px;
}
.page_pan{
	height: 110px;
	text-align: center;
}
.page_pan span{
	display: inline-block;
	color: #999999;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #DDDDDD;
	font-size: 16px;
}
.page_pan p{
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	text-align: center;
	line-height: 36px;
	display: inline-block;
	border: 1px solid #DDDDDD;
	font-size: 16px;
	color: #000;
}
.active7{
	background: #E62318;
	color: #FFFFFF!important;
}
.active8{
	border-color: #E62318!important;
}
/*foot*/
/*最后*/
#bottom{
	height: 418px;
	background: #F8F8F8;
}
.bottom_con{
	width: 1200px;
	height:418px;
	margin: 0 auto;
}
.bottom_con img{
	width: 1200px;
	height: 418px;
}
/*最后*/
#bot2{
	height: 172px;
	background: #1f1f1f;
}
.bot2_con{
	width: 1200px;
	height:172px;
	margin: 0 auto;
}
.bot2_con img{
	width: 1200px;
	height: 172px;
}